<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>

  <!-- CSS Resets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Alex+Brush|Cardo|Great+Vibes'> -->
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Kreon:300,400,700'>
  <!-- Internal CSS -->
  <link rel="stylesheet" href="styles/orders_style.css">

  <!-- External JS -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <!-- Interal JS-->
  <script type="text/javascript" src="/scripts/orders.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <main>

    <header id="persistant">
      <nav class="navbar fixed-top navbar-expand-lg">
        <div>
          <a href="#"><img src="https://i.imgur.com/aGomLui.png" alt=""></a>
          <a class="navitem toggle-cart" href="#">View Cart</a>
        </div>
      </nav>
    </header>

    <!-- partial:index.partial.html -->
    <div class="container">
      <div class="row" id="bg">
      </div>
      <!-- menu-->
      <div class="row">
        <div class="col-md-6">
          <!-- left-hand column-->
          <div>
            <table class="table">
              <tbody>
                <tr>
                  <td colspan="3" class="text-center">
                    <span class="sec-title">Mains</span>
                  </td>
                </tr>
                <% for (const item of mains) { %>
                <tr>
                  <td class="menu-text menu-item-<%=(item.id)%>">
                    <span class="dish-name"><%=item.item %></span>
                    </br>
                    <span class="dish-desc"><%=item.description %></span>
                  <td class="price"><%=(item.price / 100) %></td>
                  <td class="add">
                    <!-- jquery to insert menu items here -->
                    <input class="quantity" type="number" name="<%=(item.id)%>" value="0" max="100" min="0" disabled></input>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-6">
          <!-- right-hand column-->
          <div>
            <table class="table">
              <tbody>
                <tr>
                  <td colspan="3" class="text-center">
                    <span class="sec-title">Appetizers</span>
                  </td>
                </tr>
                <% for (const item of appetizers) { %>
                <tr>
                  <td class="menu-text menu-item-<%=(item.id)%>">
                    <span class="dish-name"><%=item.item %></span>
                    </br>
                    <span class="dish-desc"><%=item.description %></span>
                  <td class="price"><%=(item.price / 100) %></td>
                  <td class="add">
                    <!-- jquery to insert menu items here -->
                    <input class="quantity" type="number" name="<%=(item.id)%>" value="0" max="100" min="0" disabled></input>

                  </td>
                </tr>
                <% } %>

                <tr>
                  <td colspan="3" class="text-center">
                    <span class="sec-title">Drinks</span>
                  </td>
                </tr>
                <% for (const item of drinks) { %>
                <tr>
                  <td class="menu-text menu-item-<%=(item.id)%>">
                    <span class="dish-name"><%=item.item %></span>
                    </br>
                    <span class="dish-desc"><%=item.description %></span>
                  <td class="price"><%=(item.price / 100) %></td>
                  <td class="add">
                    <!-- jquery to insert menu items here -->
                    <input class="quantity" type="number" name="<%=(item.id)%>" value="0" max="100" min="0" disabled></input>
                  </td>
                </tr>
                <% } %>

                <tr>
                  <td colspan="3" class="text-center">
                    <span class="sec-title">Desserts</span>
                  </td>
                </tr>
                <% for (const item of desserts) { %>
                <tr>
                  <td class="menu-text menu-item-<%=(item.id)%>">
                    <span class="dish-name"><%=item.item %></span>
                    </br>
                    <span class="dish-desc"><%=item.description %></span>
                  <td class="price"><%=(item.price / 100) %></td>
                  <td class="add">
                    <!-- jquery to insert menu items here -->
                    <input class="quantity" type="number" name="<%=(item.id)%>" value="0" max="100" min="0" disabled></input>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Side bar -->
    <aside>
      <div id="menu">
        <header class="container">
          <h2>Your Order</h2>
          <a class="button button--light toggle-cart" href="#" title="Close cart">
            Close cart
          </a>
        </header>
        <section id="order-container">
          <!-- jQuery to insert cart items here -->
        </section>
        <section class="total">
          <div class="container">
            <h3>Order Total</h3>
            <p>$400.00</p>
          </div>
        </section>
        <footer class="container">
          <a class="btn btn-danger" href="/checkout" role="button">Checkout</a>
        </footer>
      </div>
    </aside>



    <div class="lightbox toggle-cart"></div>
  </main>

</body>
