<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Alex+Brush|Cardo|Great+Vibes'>
  <link rel="stylesheet" href="styles/orders_style.css">

  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <main>
    <p class="cart-button">
      <a class="js-toggle-cart" href="#" title="View cart">
        View cart
      </a>
    </p>

    <!-- partial:index.partial.html -->
    <div class="container">
      <div class="row" id="bg">
      </div>
      <!--begin menu-->
      <div class="row">
        <div class="col-md-6">
          <!--left-hand column-->
          <div>
            <table class="table">
              <tbody>
                <tr>
                  <td colspan="3" class="text-center">
                    <span class="sec-title">Mains</span>
                  </td>
                </tr>
                <% for (const item of mains) { %>
                <tr>
                  <td>
                    <span class="dish-name"><%=item.item %></span>
                    </br>
                    <span class="dish-desc"><%=item.description %></span>
                  <td class="price"><%=(item.price / 100) %></td>
                  <td class="add">
                    <input class="quantity" type="number" name="quantity" value="0" max="100" min="0" disabled>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-6">
          <!--right-hand column-->
          <div>
            <table class="table">
              <tbody>
                <tr>
                  <td colspan="3" class="text-center">
                    <span class="sec-title">Appetizers</span>
                  </td>
                </tr>
                <% for (const item of appetizers) { %>
                <tr>
                  <td>
                    <span class="dish-name"><%=item.item %></span>
                    </br>
                    <span class="dish-desc"><%=item.description %></span>
                  <td class="price"><%=(item.price / 100) %></td>
                  <td class="add">
                    <input class="quantity" type="number" name="quantity" value="0" max="100" min="0" disabled>
                  </td>
                </tr>
                <% } %>

                <tr>
                  <td colspan="3" class="text-center">
                    <span class="sec-title">Drinks</span>
                  </td>
                </tr>
                <% for (const item of drinks) { %>
                <tr>
                  <td>
                    <span class="dish-name"><%=item.item %></span>
                    </br>
                    <span class="dish-desc"><%=item.description %></span>
                  <td class="price"><%=(item.price / 100) %></td>
                  <td class="add">
                    <input class="quantity" type="number" name="quantity" value="0" max="100" min="0" disabled>
                  </td>
                </tr>
                <% } %>

                <tr>
                  <td colspan="3" class="text-center">
                    <span class="sec-title">Desserts</span>
                  </td>
                </tr>
                <% for (const item of desserts) { %>
                <tr>
                  <td>
                    <span class="dish-name"><%=item.item %></span>
                    </br>
                    <span class="dish-desc"><%=item.description %></span>
                  <td class="price"><%=(item.price / 100) %></td>
                  <td class="add">
                    <input class="quantity" type="number" name="quantity" value="0" max="100" min="0" disabled>

                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <aside>
      <div id="menu">
        <header class="container">
          <h2>Your Order</h2>
          <a class="button button--light js-toggle-cart" href="#" title="Close cart">
            Close cart
          </a>
        </header>
        <section>
          <article class="container">
            <p>1</p>
            <h3>Item name</h3>
            <p>$200.00</p>
            <span><img src="/images/x-mark.png" alt="Remove from order" title="Remove from order"></span>
          </article>
          <article class="container">
            <p>1</p>
            <h3>Item name</h3>
            <p>$200.00</p>
            <span><img src="/images/x-mark.png" alt="Remove from order" title="Remove from order"></span>
          </article>
          <div class="container">
            <h3>Order Total</h3>
            <p>$400.00</p>
          </div>
        </section>
        <footer class="container">

          <a class="btn btn-danger" href="/checkout" role="button">Checkout</a>
        </footer>
      </div>
    </aside>



    <div class="lightbox js-toggle-cart"></div>
  </main>
  <!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

  <script>
    $(function () {

      $("tr .add").prepend('<button type="button" class="plus increment">+</button>');
      $("tr .add").append('<button type="button" class="minus increment">-</button>');
      $("tr .add").append('<span class="reset"><img src="/images/x-mark.png" alt="Remove from order" title="Remove from order"></span>');

      $(".increment").on("click", function () {

        var $button = $(this);
        var oldValue = $button.parent().find("input").val();

        if ($button.text() == "+") {
          var newVal = parseFloat(oldValue) + 1;
        } else {
          // Don't allow decrementing below zero
          if (oldValue > 0) {
            var newVal = parseFloat(oldValue) - 1;
          } else {
            newVal = 0;
          }
        }

        if (newVal !== 0) {
          $(this).siblings('input').css({ "color": "rgb(225, 30, 30)" });
          $(this).siblings('input').css({ "font-weight": "bold" });
          $(this).siblings('span').css({ "visibility": "visible" })

        } else {
          $(this).siblings('input').css({ "color": "black" });
          $(this).siblings('input').css({ "font-weight": "normal" });
          $(this).siblings('span').css({ "visibility": "hidden" });
        }

        $button.parent().find("input").val(newVal);
      });

      $(".reset").on("click", function () {

        var $button = $(this);
        var oldValue = $button.parent().find("input").val();

        $(this).siblings('input').css({ "color": "black" });
        $(this).siblings('input').css({ "font-weight": "normal" });
        $(this).css({ "visibility": "hidden" });

        $button.parent().find("input").val("0");
      });

    });

    // ################ //
    var cartOpen = false;
    var numberOfProducts = 0;

    function toggleMenu() {
      $("#menu").toggleClass("open");
    }

    $('body').on('click', '.js-toggle-cart', toggleCart);

    function toggleCart(event) {
      event.preventDefault();
      if (cartOpen) {
        toggleMenu();
        closeCart();
        return;
      }
      toggleMenu();
      openCart();
    }

    function openCart() {
      cartOpen = true;
      $('body').addClass('open');
    }

    function closeCart() {
      cartOpen = false;
      $('body').removeClass('open');
    }
  </script>

</body>
