<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Alex+Brush|Cardo|Great+Vibes'>
  <link rel="stylesheet" href="styles/orders_style.css">

  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="container">
    <div class="row" id="bg">
    </div>
    <!--begin menu-->
    <div class="row">
      <div class="col-md-6">
        <!--left-hand column-->
        <div class="table-flexible">
          <table class="table borderless">
            <tbody>
              <tr>
                <td colspan="3" class="text-center">
                  <span class="secTitle">Mains</span>
                </td>
              </tr>
              <% for (const item of mains) { %>
              <tr>
                <td>
                  <span class="dishName"><%=item.item %></span>
                  </br>
                  <span class="dishDesc"><%=item.description %></span>
                <td class="price"><%=(item.price / 100) %></td>
                <td class="add">
                  <input class="input-group-field" type="number" name="quantity" value="0" max="100" min="0">
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-6">
        <!--right-hand column-->
        <div class="table-flexible">
          <table class="table borderless">
            <tbody>
              <tr>
                <td colspan="3" class="text-center">
                  <span class="secTitle">Appetizers</span>
                </td>
              </tr>
              <% for (const item of appetizers) { %>
              <tr>
                <td>
                  <span class="dishName"><%=item.item %></span>
                  </br>
                  <span class="dishDesc"><%=item.description %></span>
                <td class="price"><%=(item.price / 100) %></td>
                <td class="add">
                  <input class="input-group-field" type="number" name="quantity" value="0" max="100" min="0">
                </td>
              </tr>
              <% } %>

              <tr>
                <td colspan="3" class="text-center">
                  <span class="secTitle">Drinks</span>
                </td>
              </tr>
              <% for (const item of drinks) { %>
              <tr>
                <td>
                  <span class="dishName"><%=item.item %></span>
                  </br>
                  <span class="dishDesc"><%=item.description %></span>
                <td class="price"><%=(item.price / 100) %></td>
                <td class="add">
                  <input class="input-group-field" type="number" name="quantity" value="0" max="100" min="0">
                </td>
              </tr>
              <% } %>

              <tr>
                <td colspan="3" class="text-center">
                  <span class="secTitle">Desserts</span>
                </td>
              </tr>
              <% for (const item of desserts) { %>
              <tr>
                <td>
                  <span class="dishName"><%=item.item %></span>
                  </br>
                  <span class="dishDesc"><%=item.description %></span>
                <td class="price"><%=(item.price / 100) %></td>
                <td class="add">
                  <input class="input-group-field" type="number" name="quantity" value="0" max="100" min="0">
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

  <script>
    $(function () {

      $("tr .add").prepend('<a href="#" class="input-group-addon plus increment">+</i></a>');
      $("tr .add").append('<a href="#" class="input-group-addon minus increment">-</i></a>');

      console.log('test')

      $(".increment").on("click", function () {

        var $button = $(this);
        var oldValue = $button.parent().find("input").val();

        if ($button.text() == "+") {
          var newVal = parseFloat(oldValue) + 1;
        } else {
          // Don't allow decrementing below zero
          if (oldValue > 0) {
            var newVal = parseFloat(oldValue) - 1;
          } else {
            newVal = 0;
          }
        }

        $button.parent().find("input").val(newVal);

      });
    });
  </script>

  <main>


    <aside>
      Side bar goes here
      <a class="btn btn-primary" href="/checkout" role="button">Go to checkout</a>
    </aside>
  </main>


</body>
